@()
@import views.html.helper.form
@import models.User; val user = User.getByMail(session().get("email"));
@import views.enums.PanelType


@module.note(PanelType.SUCCESS, "s-changePassword")
@module.note(PanelType.DANGER, "e-changePassword")
@form(action = routes.DashboardController.passwordPost(),
    'class -> "submit-form",
    'id -> "submit"
) {
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <label class="control-label">Mot de passe actuel </label>
            <input type="password" name="nowPassword" class="form-control">
            <br>
            <label class="control-label">Nouveau mot de passe</label>
            <input type="password" name="newPassword" class="form-control">
            <br>
            <label class="control-label">Répétez le nouveau mot de passe</label>
            <input type="password" name="repNewPassword" class="form-control">
            <br>
            <button class="btn btn-primary">Actualiser le mot de passe</button>
        </div>
    </div>
}